/*STYLING FOR CURRENT PAGE BUTTON*/

.button-style
{

	font-weight: bold;
	border-radius: 5px;
	margin-left: 14px;



}

/*navigAION ELEMNETS MARGIN*/
.navigation-elements{
	margin-left: 10px;

	font-weight: bold;
	border-radius: 5px;
	
}





body{
	background-color: #FFFFFF;
	
	margin-bottom: 15%;



}
/*assigning usrname and pasword form styling*/
.form-style{

	margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
   
    width: 350px;
    opacity: 0.9;
}

.my-navbar-right{

	flex-direction: row-reverse;
}
/*footer styling*/
.foot{
	height: 50px;
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;
	background-color:#191970;
	font-size: 20px;
	font-weight: bold;
	color:   #dc3545;
}

/*TO DISPLAY HAMBURGER BUTTON AS RED*/
.navbar-toggler-icon{

	background-color: #dc3545;
}

.navbar{

	background-color: #191970
}


/*SHOWING BUTTONS IN NAV WITHOUR BORDER IN SMALLER SCREENS*/
@media screen and (max-width: 768px) {
	.navigation-elements
	{
		border: none;
	}
  
}